.header__container {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background: linear-gradient(90deg, rgb(140, 28, 19) 33%, rgb(231, 215, 193));
}
.search__icon {
	height: 4rem;
}