$main-color: #000;
$second-color: #ffd704;
$text-color: #f8fafb;
$dark-grey: #111010;
$light-grey: #595858;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;