$main-color: #000;
$second-color: #ffd704;
$text-color: #f8fafb;
$header-first-color: #111010;
$header-second-color: #595858;

$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
